{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro e inicio de sesión</title>
    <link rel="icon" href="{% static 'imgs/RODAI-logo.PNG' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <script src="{% static 'js/script.js' %}" type="module"></script>
  </head>

  <body>
    <div class="div-1200">

      <img src="{% static 'imgs/RODAI.png' %}" alt="imagen de empresa RODAI" class="img-center">
      <h1>Inicia sesión</h1>
      <form class="row g-3 needs-validation" id="submitSignIn" novalidate>
        <input type="email" placeholder="Correo Electronico*" id="email">
        <input type="password" placeholder="password*" id="password">

        <button class="submit">
          Iniciar sesión
        </button>
      </form>
      <p>¿No tienes una cuenta? <a href="{% url 'register' %}">Crea una cuenta</a></p>

      <div class="div-span">
        <p>-----------------------</p>
        <p>OR</p>
        <p>-----------------------</p>
      </div>

      <div>
        <div class="div-sessions">
          <!-- Botón de Google -->
          <button class="div-session" id="google-register">
            <img src="{% static 'imgs/icon-google.png' %}" alt="icono de google">
            <span>Iniciar con Google</span>
          </button>

          <!-- Botón de correo -->
          <button class="div-session" id="microsoft-register">
            <img src="{% static 'imgs/icon-mail.png' %}" alt="icono de mail">
            <span>Iniciar con correo</span>
          </button>

          <!-- Botón de llamada -->
          <button class="div-session" id="microsoft-register">
            <img src="{% static 'imgs/icon-llamada.png' %}" alt="icono de llamada">
            <span>Iniciar con llamada</span>
          </button>
        </div>
      </div>
      <p class="text-footer"><a href="">Términos de uso</a> | <a href="">Politica de seguridad</a></p>
    </div>
  </body>
</html>