<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de cuenta</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="icon" href="imgs/RODAI-logo.PNG" type="image/x-icon">
  <script type="module" src="./registro.js"></script>
</head>

<body>
  <div class="div-1200">

    <img src="./imgs/RODAI.png" alt="imagen de empresa RODAI" class="img-center">
    <h1>Registro de cuenta</h1>
    <form class="row g-3 needs-validation" id="submitSignUp" novalidate>
      <input type="email" placeholder="Correo Electronico*" id="email-create">
      <input type="password" placeholder="Contraseña*" id="password-create">

      <button class="submit">
        Registrar cuenta
      </button>
    </form>
    <p>¿Ya tienes una cuenta? <a href="./login.html">¡Inicia sesión aqui!</a></p>

    <div class="div-span"><p>-----------------------</p><p>OR</p><p>-----------------------</p></div>
  
    <div>
      <div class="div-sessions">
        <!-- Botón de Google -->
        <button class="div-session" id="google-register">
          <img src="./imgs/icon-google.png" alt="icono de google">
          <span>Registrar con Google</span>
        </button>

        <!-- Botón de correo -->
        <button class="div-session" id="microsoft-register">
          <img src="./imgs/icon-mail.png" alt="icono de mail">
          <span>Registrar con correo</span>
        </button>

        <!-- Botón de llamada -->
        <button class="div-session" id="microsoft-register">
          <img src="./imgs/icon-llamada.png" alt="icono de llamada">
          <span>Registrar con llamada</span>
        </button>
      </div>
    </div>
    <p class="text-footer"><a href="">Términos de uso</a> | <a href="">Politica de seguridad</a></p>
  </div>
</body>

</html>